/**
 * Styles for the toast notification component.
 *
 * @author John Grimes
 */

.toast-viewport {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--space-4);
    gap: var(--space-2);
    max-width: 420px;
    width: 100%;
    margin: 0;
    list-style: none;
    z-index: 9999;
    outline: none;
}

.toast-root {
    background-color: var(--color-panel-solid);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-4);
    padding: var(--space-3) var(--space-4);
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    position: relative;
    border: 1px solid var(--gray-6);
}

.toast-root[data-state="open"] {
    animation: toast-slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast-root[data-state="closed"] {
    animation: toast-hide 100ms ease-in;
}

.toast-root[data-swipe="move"] {
    transform: translateX(var(--radix-toast-swipe-move-x));
}

.toast-root[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.toast-root[data-swipe="end"] {
    animation: toast-swipe-out 100ms ease-out;
}

.toast-close {
    position: absolute;
    top: var(--space-2);
    right: var(--space-2);
}

@keyframes toast-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes toast-slide-in {
    from {
        transform: translateX(calc(100% + var(--space-4)));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-swipe-out {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
        transform: translateX(calc(100% + var(--space-4)));
    }
}
