<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This is a modified version of the Bunsen library, originally published at
  ~ https://github.com/cerner/bunsen.
  ~
  ~ Bunsen is copyright 2017 Cerner Innovation, Inc., and is licensed under
  ~ the Apache License, version 2.0 (http://www.apache.org/licenses/LICENSE-2.0).
  ~
  ~ These modifications are Copyright © 2018-2025 Commonwealth Scientific and Industrial Research
  ~ Organisation (CSIRO) ABN 41 687 119 230.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%level] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CODEGEN" class="ch.qos.logback.core.FileAppender">
    <file>target/codegen.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger level="WARN" name="au.csiro"/>
  <!-- enable to debug expression code generation -->
  <logger level="DEBUG" name="org.apache.spark.sql.catalyst.expressions.codegen.CodeGenerator"
    additivity="false">
    <appender-ref ref="CODEGEN"/>
  </logger>
  <logger level="ERROR" name="org.apache.spark.sql.catalyst.util.SparkStringUtils"/>
  <logger level="ERROR" name="org.apache.hadoop.util.NativeCodeLoader"/>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
