# Maven
target/
tmp/
dependency-reduced-pom.xml

# Eclipse
.classpath
.project
.settings/

# IDEA
.idea
*.iml

# JavaScript
node_modules

# Mac
.DS_Store

# Python
__pycache__
*.egg-info
_version.py
.ipynb_checkpoints

# Spark
metastore_db
derby.log
spark-warehouse
.*.crc

# R
*.Rproj
.Rproj.user
.Rhistory
*.Rcheck

# AI
.aider*
.claude

#pathling-server
pathling-server/.idea
pathling-server/.mvn
pathling-server/warehouse
pathling-server/src/test/resources/test-data/fhir
pathling-server/client-tests

*-local.yml
*-local.properties
