# Maven
target/
tmp/

# Eclipse
.classpath
.project
.settings/

# IDEA (see https://www.jetbrains.com/help/idea/configure-project-settings.html#share-project-through-vcs)
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/libraries
.idea/modules.xml
.idea/aws.xml
.idea/jupyter-settings.xml
gradle.xml
*.iws
*.iml
out


#Others
lib/import/node_modules/
lib/js/node_modules/

#Mac
.DS_Store


#Python
__pycache__/
*.egg-info
_version.py
.ipynb_checkpoints/

metastore_db
derby.log
spark-warehouse


#R
*.Rproj

.Rproj.user
/lib/R/pathlyr/.Rhistory
*.Rcheck
