# Maven
target/
tmp/

# Eclipse
.classpath
.project
.settings/

# IDEA
.idea
*.iml


#Others
lib/import/node_modules/
lib/js/node_modules/

#Mac
.DS_Store


#Python
__pycache__/
*.egg-info
_version.py
.ipynb_checkpoints/

metastore_db
derby.log
spark-warehouse
.*.crc


#R
*.Rproj

.Rproj.user
/lib/R/pathlyr/.Rhistory
*.Rcheck
.aider*
dependency-reduced-pom.xml

#pathling-server
pathling-server/.idea
pathling-server/.mvn
pathling-server/warehouse
pathling-server/src/test/resources/test-data/fhir
