version: "3"
services:
  fhir-server:
    image: "docker-registry.it.csiro.au/pathling/fhir-server:${PATHLING_VERSION}"
    ports:
      - 8080:8080
  notebook:
    image: "docker-registry.it.csiro.au/pathling/notebook:${PATHLING_VERSION}"
    ports:
      - 8888:8888
