<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This is a modified version of the Bunsen library, originally published at
  ~ https://github.com/cerner/bunsen.
  ~
  ~ Bunsen is copyright 2017 Cerner Innovation, Inc., and is licensed under
  ~ the Apache License, version 2.0 (http://www.apache.org/licenses/LICENSE-2.0).
  ~
  ~ These modifications are copyright © Australian e-Health Research Centre,
  ~ CSIRO. All rights reserved.
  -->

<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger level="INFO" name="au.csiro"/>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>