/**
 * Global styles for the Pathling Export UI.
 *
 * @author John Grimes
 */

body {
  margin: 0;
  min-height: 100vh;
}

/* Spinner animation for loading indicator. */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
