<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 Commonwealth Scientific and Industrial Research
  ~ Organisation (CSIRO) ABN 41 687 119 230.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration status="WARN">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="[%level] %logger{36} - %msg%n"/>
    </Console>
    <File name="TIMING" fileName="target/timing.log">
      <PatternLayout pattern="[%d] %msg%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="au.csiro.pathling.test.TimingExtension" level="info" additivity="false">
      <AppenderRef ref="TIMING"/>
    </Logger>
    <Logger name="au.csiro" level="debug"/>
    <Logger name="org.apache.spark.sql.catalyst.util.SparkStringUtils" level="error"/>
    <Logger name="org.apache.spark.sql.catalyst.analysis.SimpleFunctionRegistry" level="error"/>
    <Logger name="org.apache.hadoop.util.NativeCodeLoader" level="error"/>
    <Root level="warn">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
