server {
  listen 80;
  root /usr/share/nginx/html;
  charset utf-8;
  gzip on;
  gzip_types text/css application/javascript application/json;
  gzip_comp_level 9;
  etag on;
  location / {
    try_files $uri $uri/ =404;
  }
  location /script/ {
    add_header Cache-Control max-age=31536000;
  }
  location /style/ {
    add_header Cache-Control max-age=31536000;
  }
  location /fonts/ {
    add_header Cache-Control max-age=31536000;
  }
  location /index.html {
    add_header Cache-Control no-cache;
    add_header Content-Security-Policy "default-src 'self' 'unsafe-inline'; connect-src *";
  }
  location /config.json {
    add_header Cache-Control no-cache;
  }
}
