/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.resource-tree-node {
  .bp3-icon-cube {
    color: #137cbd !important;
  }

  .bp3-icon-document-share,
  .bp3-icon-document-open {
    color: #a7b6c2 !important;
  }

  .bp3-tree-node-secondary-label {
    color: #8a9ba8 !important;
    cursor: pointer;

    &:hover {
      color: #137cbd !important;
    }
  }

  .bp3-popover-target {
    display: block;
  }

  .inner {
    outline: none !important;
  }
}

.bp3-popover {
  .definition {
    padding: 1em;
    max-width: 600px;
  }
}
