pathling:
  image: aehrc/pathling:latest
  resources:
    requests:
      cpu: 2
      memory: 4G
    limits:
      memory: 4G
    maxHeapSize: 2800m
  additionalJavaOptions: -Duser.timezone=UTC
  deployment:
    strategy: Recreate
    imagePullPolicy: Always
  volumes: [ ]
  volumeMounts: [ ]
  serviceAccount: ~
  imagePullSecrets: [ ]
  tolerations: [ ]
  affinity: ~
  securityContext: ~
  config: { }
  secretConfig: { }
