/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.actions {
  box-shadow: none !important;
  border-radius: 0.3em;
  color: #314659;
  padding: 0 0.2em !important;
  background-color: transparent !important;

  button {
    outline: none;
    user-select: none;
  }

  .execute {
    .bp3-icon {
      color: #15b371 !important;
    }
  }

  .clear {
    .bp3-icon {
      color: #db3737 !important;
    }
  }
}
