/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.actions {
  .bp3-navbar {
    box-shadow: none;
    border-radius: 0.3em;
    color: #314659;
    padding: 0 0.2em;
    background-color: transparent;
  }

  button {
    outline: none;
  }

  .bp3-icon-play {
    color: #15b371 !important;
  }

  .bp3-icon-delete {
    color: #db3737 !important;
  }
}
