/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.aggregations {
  overflow-y: auto;
  position: relative;
  padding: 1em 1em 0.5em 2.8em;
  background-color: white;
  border-radius: 0.3em;
  font-size: 1em;
  color: #314659;

  &__identity {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  &__blank {
    color: #666;
    margin-bottom: 0.5em;
    user-select: none;
  }

  &__expression {
    background-color: #2965cc !important;
    margin: 0 0.5em 0.5em 0;
    user-select: none;

    .bp3-tag-remove {
      outline: none;
    }
  }
}
