/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/src/blueprint";

$sider-bg: white;
$query-bg: #ced9e0;
$title-bg: #394b59;
$border-color: $query-bg;

%scroll-y {
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  // This fixes a quirk in Firefox around treatment of padding and overflow,
  // see: https://www.brunildo.org/test/overscrollback.html
  &:after {
    content: "";
    display: block;
    height: 1em;
  }
}

.app {
  display: flex;

  h2 {
    margin: 0;
    padding: 0.3em 1em;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: normal;
    background-color: $title-bg;
    color: white;
  }

  &__left-sider,
  &__right-sider {
    height: 100vh;
    background-color: $sider-bg;
  }

  &__left-sider,
  &__right-sider,
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    &-title {
      text-transform: uppercase;
    }

    &-inner {
      height: 100vh !important;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: unset !important;

      & > {
        h2,
        .query,
        .actions {
          flex-shrink: 0;
        }

        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: unset;
        }

        .actions {
          background-color: $query-bg;
          height: 4.4em;
          padding: 0.4em 1em;
        }

        .result {
          @extend %scroll-y;
          flex-grow: 1;
        }
      }
    }
  }

  .element-tree,
  .saved-queries {
    @extend %scroll-y;
    flex: 1;
  }

  &__query {
    display: grid;
    grid-template-columns: 1em auto 1em auto 1em;
    grid-template-rows: 1em auto 1em auto;
    background-color: $query-bg;

    & > .aggregations {
      grid-column: 2;
      grid-row: 2;
    }

    & > .groupings {
      grid-column: 4;
      grid-row: 2;
    }

    & > .filters {
      grid-column: 2 / span 3;
      grid-row: 4;
    }
  }

  &__right-sider {
    grid-column: 3;
    grid-row: 1;
    background-color: $sider-bg;
    display: flex;
    flex-direction: column;
  }
}
