/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/src/blueprint";

$sider-bg: white;
$query-bg: #ced9e0;
$title-bg: #394b59;
$border-color: $query-bg;

.app {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  position: relative;

  h2 {
    margin: 0;
    padding: 0.3em 1em;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: normal;
    background-color: $title-bg;
    color: white;
  }

  &__left-sider {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    background-color: $sider-bg;
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &-inner {
      flex: 1;
      overflow-y: auto;
      width: unset !important;
    }

    &-handle div {
      width: 1em !important;
      right: 0 !important;
    }
  }

  .saved-queries {
    flex: 1;
  }

  &__content {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1em auto 1em;
    grid-template-rows: 23.7667px auto 5em 1fr;
    background-color: $query-bg;
    overflow: hidden;
    min-width: 500px;

    & > h2 {
      grid-column: 1 / span 3;
      grid-row: 1;
    }

    & > {
      .actions {
        grid-column: 1 / span 3;
        grid-row: 3;
        padding: 0.2em 1em;
        background-color: $query-bg;
        position: relative;
        top: 0.5em;
      }

      .result {
        grid-column: 1 / span 3;
        grid-row: 4;
        position: relative;
      }
    }
  }

  &__query {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1em auto;
    grid-template-rows: 1em auto 1em auto;

    & > .aggregations {
      grid-column: 1;
      grid-row: 2;
    }

    & > .groupings {
      grid-column: 3;
      grid-row: 2;
    }

    & > .filters {
      grid-column: 1 / span 3;
      grid-row: 4;
    }
  }

  &__right-sider {
    grid-column: 3;
    grid-row: 1;
    background-color: $sider-bg;
    border-left: 1px solid $border-color;
    display: flex;
    flex-direction: column;
  }
}
