/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

.app {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  position: relative;

  & > {
    .sider {
      grid-column: 1;
      grid-row: 1;
      margin: 0;
      overflow-x: hidden;
      overflow-y: scroll;

      & > .inner {
        height: 100% !important;
        padding: 1em;

        & > .element-tree {
          margin-bottom: 1em;
        }
      }
    }

    .content {
      grid-column: 2;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1em auto 1em auto 1em;
      grid-template-rows: 1em auto 1em auto 3.7em 1fr 1em;
      background-color: #e9e9e9;
      overflow: hidden;
    }
  }
}

.content {
  & > {
    .result,
    .aggregations,
    .groupings,
    .filters {
      background-color: white;
      border-radius: 0.3em;
      font-size: 1em;
      color: #314659;
    }

    .aggregations {
      grid-column: 2;
      grid-row: 2;
    }

    .groupings {
      grid-column: 4;
      grid-row: 2;
    }

    .filters {
      grid-column: 2 / span 3;
      grid-row: 4;
      padding: 1em;
    }

    .actions {
      grid-column: 2 / span 3;
      grid-row: 5;
    }

    .result {
      grid-column: 2 / span 3;
      grid-row: 6;
      padding: 1em;
      background-color: white;
      overflow-y: scroll;
      position: relative;
    }
  }
}
