/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

@import "~@blueprintjs/core/src/components/tree/tree";

.element-tree {
  @extend .#{$ns}-tree;
  padding: 1em;
  background-color: white;
  box-sizing: border-box;
  overflow-y: auto;

  & > .resources {
    @extend .#{$ns}-tree-node-list, .#{$ns}-tree-root;

    & .contains {
      margin-left: 23px !important;
    }
  }

  .contains .contains {
    margin-left: 23px !important;
  }
}
