/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

@import "~@blueprintjs/core/src/components/forms/index";

.expression-editor {
  &__form {
    padding: 1em;
    width: 35em;

    label {
      user-select: none;
    }
  }

  &__label-input,
  &__expression-input {
    @extend .#{$ns}-input;
    width: 100%;
  }

  &__expression-label {
    margin-bottom: 0 !important;
  }

  &__expression-input {
    height: 15em;
    padding: 0;
    box-shadow: none;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  &__disabled-input {
    margin: 1em 0 0 !important;
  }
}

// Prevents space from appearing at the bottom of the document when editor is in use.
.monaco-aria-container {
  top: -999em;
}
