/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

@import "~@blueprintjs/core/src/components/forms/index";

.expression-form {
  padding: 1em;
  width: 35em;

  .label-input,
  .expression-input {
    @extend .#{$ns}-input;
    width: 100%;
  }

  .expression-label {
    margin-bottom: 0;
  }

  .expression-input {
    height: 15em;
    padding: 0;
    box-shadow: none;
    border: 1px solid #ccc;
    overflow: hidden;
  }
}
