/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.filters {
  .blank-canvas {
    color: #666;

    .bp3-icon {
      margin-right: 0.5em;
    }
  }

  .bp3-tag {
    background-color: #6c71c4;
    margin-right: 0.5em;
    user-select: none;
  }
}
