/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.result {
  padding: 1em;
  overflow-y: auto;
  font-size: 1em;
  background-color: white;
  color: #314659;

  &--stale {
    opacity: 0.5;
  }
}
