/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.result {
  padding: 1em;
  overflow-y: auto;
  font-size: 1em;
  background-color: white;
  color: #314659;

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
