/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.saved-query-item {
  list-style-type: none;
  padding: 0.8em 1em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  user-select: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2),
      0 2px 6px rgba(16, 22, 26, 0.2);
  }

  &__actions {
    float: right;
    position: relative;
    top: -0.2em;
    right: -0.5em;
  }

  &--loaded {
    border: 2px solid #137cbd;
    cursor: unset;
  }
}
