/*!
 * Copyright © Australian e-Health Research Centre, CSIRO. All rights reserved.
 */

.saved-queries {
  padding: 0;
  background-color: white;
  margin: 0;

  .saved-query-item,
  .editable-query-item {
    margin: 1em;
  }

  &__blank {
    margin: 1em;
  }
}
