.element-tree {
  //noinspection CssUnusedSymbol
  .bp3-tree-node {
    cursor: pointer;
  }

  //noinspection CssUnusedSymbol
  .bp3-icon-cube {
    color: #137cbd !important;
  }

  //noinspection CssUnusedSymbol
  .bp3-icon-symbol-square {
    color: #137cbd !important;
  }

  .bp3-icon-folder-close,
  .bp3-icon-grid-view {
    color: #a7b6c2 !important;
  }
}
