.element-tree {
  .bp3-icon-cube {
    color: #137cbd !important;
  }

  .bp3-icon-symbol-square {
    color: #137cbd !important;
  }

  .bp3-icon-folder-close,
  .bp3-icon-grid-view {
    color: #a7b6c2 !important;
  }

  .bp3-icon-add {
    color: #8a9ba8 !important;
    cursor: pointer;

    &:hover {
      color: #137cbd !important;
    }
  }
}
