<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2018-2022, Commonwealth Scientific and Industrial Research
  ~ Organisation (CSIRO) ABN 41 687 119 230. Licensed under the CSIRO Open Source
  ~ Software Licence Agreement.
  -->

<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{requestId}] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger level="INFO" name="au.csiro"/>
  <logger level="ERROR" name="org.apache.hadoop.metrics2"/>
  <logger level="WARN" name="requestLogger"/>
  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
