server {
  listen 80;
  root /usr/share/nginx/html;

  error_page 404             /404.html;
  error_page 500 502 503 504 /50x.html;

  charset utf-8;
  gzip on;
  gzip_types text/css application/javascript application/json;
  gzip_comp_level 9;
  etag on;

  add_header Content-Security-Policy "default-src 'self'; font-src 'self' fonts.googleapis.com fonts.gstatic.com; style-src 'self' fonts.googleapis.com 'unsafe-inline'; img-src 'self' data: run.pstmn.io";
  add_header Feature-Policy "accelerometer 'self' ambient-light-sensor 'self' autoplay 'self' battery 'self' camera 'self' display-capture 'self' document-domain 'self' encrypted-media 'self' execution-while-not-rendered 'self' execution-while-out-of-viewport 'self' fullscreen 'self' geolocation 'self' gyroscope 'self' layout-animations 'self' legacy-image-formats 'self' magnetometer 'self' microphone 'self' midi 'self' navigation-override 'self' oversized-images 'self' payment 'self' picture-in-picture 'self' publickey-credentials 'self' sync-xhr 'self' usb 'self' vr 'self' wake-lock 'self' xr-spatial-tracking 'self'";
  add_header Referrer-Policy "no-referrer";
}
