# This workflow will build and test the server, and build the site.
# It will also package the server and the site up as Maven artefacts and Docker images, and push
# them to the configured repositories.
# This is only run on master, and is only intended for changes that have been reviewed and approved 
# for deployment.

name: Test and deploy

on:
  push:
    branches: [ master ]

jobs:
  server:
    name: Server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run the verify goal with Maven
        run: |
          mvn --batch-mode verify -pl fhir-server -am \
          -Dpathling.fhirServerDockerRepo=${{ secrets.FHIR_SERVER_DOCKER_REPO }} \
          -Dmaven.test.failure.ignore=true
        timeout-minutes: 30
      - uses: actions/upload-artifact@v2
        with:
          name: encoders-surefire-reports
          path: encoders/target/surefire-reports
      - uses: actions/upload-artifact@v2
        with:
          name: fhir-server-surefire-reports
          path: fhir-server/target/surefire-reports
      - uses: actions/upload-artifact@v2
        with:
          name: fhir-server-timing-log
          path: fhir-server/target/timing.log
      - name: Publish test results
        uses: scacap/action-surefire-report@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: Test report
          fail_on_test_failures: true
      - name: Run the deploy goal with Maven
        run: mvn --batch-mode deploy -pl fhir-server,encoders -DskipTests -Ddockerfile.skip
      - name: Tag and push server image
        run: |
          mvn dockerfile:tag@tag-major dockerfile:tag@tag-latest dockerfile:push@push-version \
          dockerfile:push@push-major dockerfile:push@push-latest -pl fhir-server \
          -Dpathling.fhirServerDockerRepo=${{ secrets.FHIR_SERVER_DOCKER_REPO }} \
          -Ddockerfile.username=${{ secrets.DOCKER_USERNAME }} \
          -Ddockerfile.password=${{ secrets.DOCKER_PASSWORD }}
  site:
    name: Site
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}/site
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.3
      - name: Install the bundle
        run: bundle
      - name: Build the site with Jekyll
        run: bundle exec jekyll build
      - name: Build and push site image
        uses: docker/build-push-action@v1
        with:
          path: site
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ secrets.SITE_DOCKER_REPO }}
          tags: latest