# This workflow builds a pre-release version of the Python API for Pathling and deploys it to PyPI.

name: "Python pre-release"

# This workflow is triggered manually, and requires the input of a segment identifier. This will be
# appended to the version, e.g. 6.1.3-dev0.
on:
  workflow_dispatch:
    inputs:
      segmentIdentifier:
        description: "Pre-release identifier"
        required: true
        default: ".dev0"

jobs:
  deploy-python-pre-release:
    name: Python pre-release
    environment: pypi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # This is required so that git-commit-id-plugin can find the latest tag.
          fetch-depth: 0
          submodules: recursive

      - name: Set up build environment
        uses: ./.github/actions/setup-build-tools
        with:
          java: "true"
          python: "true"

      - name: Run security scan
        uses: ./.github/actions/trivy-scan
        with:
          skip-files: "examples/**/*,**/target/**/*,sql-on-fhir/**/*,licenses/**/*"
          skip-db-update: "true"
          skip-dirs: "server,ui,site,fhirpath-lab-api,benchmark,test-data,deployment"

      - name: Run deploy goal (pre-release)
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: |
          mvn --batch-mode deploy \
          -pl lib/python -am \
          -PpythonPreRelease \
          -DskipTests \
          -Dpathling.pyapi.version.qualifier=${{ github.event.inputs.segmentIdentifier }}
        timeout-minutes: 30
