# This workflow will build the software to ensure there are no errors, and also execute the tests.

name: Test

on:
  pull_request:

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    # Skip pull requests from release branches (handled by pre-release workflow).
    if: "!startsWith(github.head_ref, 'release/')"
    outputs:
      ui: ${{ steps.filter.outputs.ui }}
      server: ${{ steps.filter.outputs.server }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect changed paths
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            ui:
              - 'ui/**'
            server:
              - 'server/**'

  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    needs: detect-changes
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up build environment
        uses: ./.github/actions/setup-build-tools
        with:
          java: "true"
          r: "true"
          python: "true"
          sonar-cache: "true"

      - name: Run install goal
        env:
          R_KEEP_PKG_SOURCE: yes
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn --batch-mode install \
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.projectKey=aehrc_pathling -Dsonar.organization=aehrc \
          -Dsonar.host.url=https://sonarcloud.io \
          -pl '!site,!benchmark'
        timeout-minutes: 60

      - name: Upload test artifacts
        if: always()
        uses: ./.github/actions/upload-test-artifacts
        with:
          include-jars: "true"
          include-python: "true"
          include-r: "true"

  test-ui:
    name: Test UI
    needs: [detect-changes, build-and-test]
    if: needs.detect-changes.outputs.ui == 'true'
    uses: ui-test.yml

  test-server:
    name: Test server
    needs: [detect-changes, build-and-test]
    if: needs.detect-changes.outputs.server == 'true'
    uses: server-test.yml
    secrets: inherit
